
@font-face {
    font-family: Formula1-bold;
    src: url(/fonts/Formula1-Bold.ttf);
}
@font-face {
    font-family: Formula1-Italic;
    src: url(/fonts/Formula1-Italic.ttf);
}

@font-face{
    font-family: Formula1-Wide; 
    src: url(/fonts/Formula1-Wide.ttf);
}

body{
    background-color:#06D6A0;
}

.navbar-brand{
    color: black !important;
    font-family: Formula1-Wide;
}

.nav-link{
    color: black !important;
    font-family: Formula1-Bold;
    font-size: x-large;
}

.nav-link:hover{
    color: red !important;
}

header{
    border-bottom: 1px solid black; 
    text-align: center;
    padding: 10px 10px;
}

.logo{
    height: 120px;
    width: 60;
    border-radius: 10px;
}

nav ul li{
    list-style: none;
    display:inline-block;
    margin: 0 10;
}

a{
    font-family: Formula1-Wide;
    text-decoration: none;
    text-transform: uppercase;
    color: #0F0F0F ;
    padding-right: 50px;
}

main{
    margin: 20px;
    padding: 20px;
}

.jumbotron{
    background-color:#745296 !important;
    height: 250px;
    background-size: cover;   
}

.jumbotron p{
    font-size: x-large;
}

.sub{
    background-color: #ACCE00;font-size: 25px;
    color: #0F0F0F;
    text-align: center;
    margin: 10px;
    font-family: Formula1-Bold;
}

p{
    font-family: Formula1-Italic;
    color: black;
}

h1{
    color: black !important;
    font-family: Formula1-Wide ;
    text-decoration:underline;
}

h2{
    font-size: 25px;
    color: #0F0F0F;
    text-align: left;
    margin: 10px;
    font-family: Formula1-Bold;
}

h3{
    font-family: Formula1-Bold;
}

.articulo{
    border: 5px solid black; 
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
}

.articulo i{
    font-size: 35px;
    margin-bottom: 20px;
}

footer{
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
}

.contPilotos{
    margin: 20px; 
    padding-top: 50px;
}

.imgPilotos{
    display: block;
    width: 30%;
    height: 10%;
    padding-bottom: 30px;
    border-radius: 20px;
}

.contPilotos p{
    font-family: Formula1-Italic;
    color: white;
    text-align: left;
    padding: 10px;
    padding-bottom: 120px;
    font-weight: bold;
    font-size: 18px;
    
}

.contCircuitos{
    padding-top: 20px;
    padding-left:210px;
}

.contCircuitos p{
    font-family: Formula1-Italic;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 35px;
    padding-left: 210px;
    padding-top: 10px;
}

.calenNom{
    font-family: Formula1-Italic;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 25px;
}

.date{
    width: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #252525;
    text-align: center;
    border: #745296 solid;
    font-family: Formula1-Italic;
    color:#fff;
    display: inline;
}

/* Lo uso como ejemplo para comportamiento de cada elemento */
.verComoMeComporto {
    border: 5px red solid;
}


.inline{
    display: inline;
}

.typePhotoPilotosIzq{
    display: inline;
    border: 5px #ACCE00 solid;
    border-radius: 25%;

}

.typePhotoPilotosDec{
    display: inline;
    border: 5px #ACCE00 solid;
    border-radius: 25%;
}

.divPothoPaddi{
    padding-left: 450px;
    display: inline;
}

.block {
    display: block;
}

.spaceUp{
    padding-top: 50px;
}

.botonesAbajo:hover {
    color: #ACCE00;
} 

.legtext{
    text-align: center;
}