@font-face {
    font-family: Formula1-bold;
    src: url(/fonts/Formula1-Bold.ttf);
}
@font-face {
    font-family: Formula1-Italic;
    src: url(/fonts/Formula1-Italic.ttf);
}

@font-face{
    font-family: Formula1-Wide; 
    src: url(/fonts/Formula1-Wide.ttf);
}

body{
    background-color:#06D6A0;
}

.navbar-brand{
    color: black !important;
    font-family: Formula1-Wide;
} 

.nav-link{
    color: black !important;
    font-family: Formula1-Bold;
    font-size: x-large;
} 

.nav-link:hover{
    color: red !important;
}

header{
    border-bottom: 1px solid black; 
    text-align: center;
    padding: 10px 10px;
}

.logo{
    height: 120px;
    width: 60;
    border-radius: 10px;
}

nav ul li{
    list-style: none;
    display:inline-block;
    margin: 0 10px;
} 

a{
    font-family: Formula1-Wide;
    text-decoration: none;
    text-transform: uppercase;
    color: #0F0F0F ;
    padding-right: 50px;
}

main{
    margin: 20px;
    padding: 20px;
}

.jumbotron{
    background-color:#745296 !important;
    height: auto;
    background-size: cover;  
}

.jumbotron p{
    font-size: x-large;
}

.sub{
    background-color: #ACCE00;
    font-size: 25px;
    color: #0F0F0F;
    text-align: center;
    margin: 10px;
    font-family: Formula1-Bold;
}

p{
    font-family: Formula1-Italic;
    color: black;
    font-size: medium;
}

h1{
    color: black !important;
    font-family: Formula1-Wide ;
    text-decoration:underline;
}

h2{
    font-size: 25px;
    color: #0F0F0F;
    text-align: left;
    margin: 10px;
    font-family: Formula1-Bold;
}

h3{
    font-family: Formula1-Bold;
}

.txtst{
    text-align: left;
}

.articulo{
    border: 5px solid black; 
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
}

.articulo i{
    font-size: 35px;
    margin-bottom: 20px;
}

footer{
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
}

.imgNoticia{
    display: block;
    width: 30%; 
    border-radius: 20px;
    border: solid #745296 8px;
}

.contNoticia{
    margin: 20px; 
    padding-top: 25px;
    border-radius: 50px;
    padding-bottom: 15px;
}

.contNoticia p{
    font-family: Formula1-Italic;
    color: white;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.contPilotos{
    margin: 20px; 
    padding-top: 50px;
}

.imgPilotos{
    display: block;
    width: 60%; 
    border-radius: 20px;
}

.contCircuitos{
    padding-top: 20px;
    padding-left: 5%;
}

.contCircuitos p{
    font-family: Formula1-Italic;
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 10px 5px black;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 10px;
    
}

.calenNom{
    font-family: Formula1-Italic;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 10px 4px black; 
}

.inlinecal{
    padding-bottom: 60px;
}

.date{
    width: 100%; 
    background: #252525;
    text-align: center;
    border: #745296 solid;
    font-family: Formula1-Italic;
    color:#fff;  
}

/* Lo uso como ejemplo para comportamiento de cada elemento */
.verComoMeComporto {
    border: 5px red solid;
}

.inline{
    display: inline;
}

.marg{
    padding-bottom: 50px;
    padding-top: 20px;
}

.typePhotoEsc{
    border: 5px #ACCE00 solid;
    border-radius: 25%;
}

.divPothoPaddi{
    padding-left: 20%; 
    display: inline;
}

.block {
    display: block;
}

.spaceUp{
    padding-top: 50px;
}    

.botonesAbajo:hover {
    color: #ACCE00;
} 

.legtext{
    text-align: center;
}

.alineado {
    justify-content: space-around;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.lejania {
    padding-left: 10%; 
}    

.flex2{
    display: flex;
    flex-direction: column;
}

.medium {
    height: auto;
    width: 25%; 
}

.bordefoto{
    border-radius: 20px;
    color: #745296;
    border: solid 7px;
}

.asd {
    padding-bottom: 20px !important;
}

.centrarItem {
    display: flex;
    justify-content: space-around;
}

.centrarItem2 {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.alinearDiv {
    text-align: center;
    justify-content: center;
}
