.imgNoticia{
    display: block;
    width: 30%; 
    border-radius: 20px;
    border: solid #745296 8px;
}

.contNoticia{
    margin: 20px; 
    padding-top: 25px;
    border-radius: 50px;
    padding-bottom: 15px;
}

.contNoticia p{
    font-family: Formula1-Italic;
    color: white;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}